/*Header */
#header{
  border: solid;
}
/* Collums*/
#collums{
  border: solid;
}
.collum-1{
  border: solid;
}
.collum-2{
  border: solid;
}
.collum-3{
  border: solid;
}
/* About*/
#About{
  border: solid;
}
/* Contact*/
#Contact{
  border: solid;
}
/* Footer*/
#Footer{
  border: solid;
}
